/* 
NAME: IBN_YAHYAH
DATE:8TH MARCH 2021
FORK ME ON GITHUB
AND OTHER!!!!!!!!!
*/

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: white;

   
}
header{
    text-align: center;
    margin-top: 150px ;
    font-size: 30px;
}
h6{
    margin-bottom: 20px;
    font-size: 30px ;
}
header >p{
    font-size: 16px;
}
.icon{
    

}
.container{
    background-color: white;
    
}
img{
    
}
.first{
   color: black;
   font-size: 20px;
    width: 12rem;
    line-height: 1.8;
    word-spacing: 1px;
}

.wrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
section{
        text-align: justify;
        width: 30%;
        margin-left: 600px;
        margin-top: 50px;
}
h4{
    font-size: 20px;
    margin-bottom: 20px;
}
hr{
    margin-top: 50px;
    width: 80%;
    margin-left: 150px;
}
footer{
    text-align: center !important;
    margin-top: 30px;
    margin-bottom: 30px;
}
a{
    color: rgb(206, 250, 12) !important;
    text-decoration: none;
}
a:hover{
    color: black;
    background-color: blanchedalmond;
    padding: 5px;
    font-weight: 700;
}

/* media queries */

@media(max-width: 768px){
        header{
            margin-top: 40px;
            font-size: 30px;

        }
        .container{
            height: 300px;
            width: 100%;
        }
        img{
            width: 60%;
            height: 400px !important;
            margin-top: -212px !important;
        }
        .first{
            margin-top: 50px;
            width: 30%;
            font-size: 18px;
            margin-left: 70px !important;
        }
        section{
            text-align: justify;
            width: 40% !important;
            margin-left: 200px !important;
            margin-top: 80px;
        }
        h4{
        font-size: 20px;
        margin-bottom: 20px;
        }
        hr{
        margin-top: 80px;
        width: 80%;
        margin-left: 80px !important;
        }
}

