/* 
NAME: IBN_YAHYAH
DATE:8TH MARCH 2021
FORK ME ON GITHUB
AND OTHER!!!!!!!!!
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;

   
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    padding-top: 5em;
    padding-bottom: 5em;
}
h6{
    
    font-size: 30px ;
}

i{
    border: 1px solid white;
    border-radius: 50%;
    padding: 1%;
    cursor: pointer;
    font-size: 17px;
    margin-top: 5em;
}

 .date{
    font-size: 19px;
    word-spacing: 4px;
}

i:hover{
    background-color: white;
    color: black;
}


.bio-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6em;
    padding-bottom: 10em;
    padding-right: 10em;
    padding-left: 10em;
}

.bio-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    border-bottom: 2px solid white;
    padding-bottom: 5em;
}

.bio{
    font-size: 30px;
    font-weight: bold;
    line-height: 2;
}

.bio-txt{
    line-height: 1.8;
    letter-spacing: 2;
    word-spacing: 2px;
    font-size: 18px;
    text-align: left;
}
.container{
    background-color: white;
    
}
img{
    
}
.first{
   color: black;
   font-size: 18px;
    width: 12rem;
    line-height: 1.8;
    word-spacing: 1px;
}

.wrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15em;
}


h4{
    font-size: 20px;   
}

footer{
    text-align: center;
    margin-bottom: 30px;
}
a{
    color: rgb(206, 250, 12) !important;
    text-decoration: none;
}
a:hover{
    color: black;
    background-color: blanchedalmond;
    padding: 5px;
    font-weight: 700;
}

/* media queries */
@media only screen and (max-width: 1000px) {

    .bio-container{
        padding-right: 5em;
        padding-left: 5em;
    }

    .bio-wrap{
        width: 90%;
    }

    img{
        width: 30%;
    }

} 


@media only screen and (max-width: 750px) {

    .wrap{
        flex-direction: column;
        gap: 5em;
        padding-top: 4em;
    }

    img{
        width: 50%;
        height: auto;
    }

}