/* 
NAME: IBN_YAHYAH
DATE:8TH MARCH 2021
FORK ME ON GITHUB
AND OTHER!!!!!!!!!
*/

*{
    margin: 0;
    padding: 0;
}

Body{
    background-color: black;
    color: white;
    width: 100%;
    height: 1600px;
}
header{
    text-align: center !important;
    margin-top: 150px !important;
    font-size: 30px;
}
h6{
    margin-bottom: 20px;
    font-size: 30px !important;
}
header >p{
    font-size: 16px !important;
}
.icon{
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}
.container{
    background-color: white;
    color: black;
    height: 600px !important;
    width: 100%;
    padding-top: 100px;
}
img{
    width: 50%;
    height: 81vh !important;
    float: right;
    margin-top: -283px !important;
}
.first{
    margin-top: 120px;
    width: 13%;
    font-size: 18px;
    margin-left: 350px;
}
section{
        text-align: justify;
        width: 30%;
        margin-left: 600px;
        margin-top: 50px;
}
h4{
    font-size: 20px;
    margin-bottom: 20px;
}
hr{
    margin-top: 50px;
    width: 80%;
    margin-left: 150px;
}
footer{
    text-align: center !important;
    margin-top: 30px;
    margin-bottom: 30px;
}
a{
    color: rgb(206, 250, 12) !important;
    text-decoration: none;
}
a:hover{
    color: black;
    background-color: blanchedalmond;
    padding: 5px;
    font-weight: 700;
}

/* media queries */

@media(max-width: 768px){
        header{
            margin-top: 40px;
            font-size: 30px;

        }
        .container{
            height: 300px;
            width: 100%;
        }
        img{
            width: 60%;
            height: 400px !important;
            margin-top: -212px !important;
        }
        .first{
            margin-top: 50px;
            width: 30%;
            font-size: 18px;
            margin-left: 70px !important;
        }
        section{
            text-align: justify;
            width: 40% !important;
            margin-left: 200px !important;
            margin-top: 80px;
        }
        h4{
        font-size: 20px;
        margin-bottom: 20px;
        }
        hr{
        margin-top: 80px;
        width: 80%;
        margin-left: 80px !important;
        }
}

@media(min-width: 428px){
    header{
        margin-top: 30px !important;
    }
    h6{
        font-size: 20px !important;
        margin-bottom: 10px !important;
    }
    header >p{
        font-size: 16px !important;
    }
    .icon{
        margin-top: 30px !important;
        margin-bottom: 20px !important;
    }
    .container{
        height: 120px !important;
    }
    .first{
        margin-top: -20px !important;
        font-size: 15px !important;
    }
    img{
        width: 50% !important;
        height: 220px !important;
        margin-top: -148px !important;
    }
    section{
        width: 50% !important;
        margin-left: 100px !important;
        font-size: 12px !important;
        margin-top: 10px !important;
    }
    section >p{
        margin-top: 5px !important;
    }
    hr{
        margin-top: 5px !important;
        margin-left: 40px !important;
    }
    footer{
        margin-top: 10px !important;
    }
    
}